.screen--game {
  .form {
    justify-content: flex-end;
  }
  .form__button {
    flex-grow: 0;
    width: 18rem;
  }
  .form__field {
    width: calc(20% - 21rem);
    transition: width .5s ease;
  }
}
.screen--game.active {
  .form__field {
    width: calc(100% - 21rem);
  }
}