.page-header__menu {
  a {
    transition: color .3s ease;
    &::after {
      width: 0;
      display: block;
      left: auto;
      right: 0;
      transition: width .3s ease;
    }
    &.active {
      &::after {
        display: auto;
        width: 100%;
        left: 0;
      }
    }
    &:hover,
    &:focus {
      &::after {
        width: 100%;
        left: 0;

        @media (max-width: $tablet) and (orientation: portrait) {
          left: 0;
          right: 0;
          background-color: $c-dark;
        }
  
        @media (max-width: $mobile) and (orientation: landscape) {
          left: 0;
          right: 0;
          background-color: $c-dark;
        }
      }
    }
  }
}