.screen-background {
  // background-color: $c-dark;
  background-color: red;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 100vh;
  z-index: 1;
  transition: top .5s ease;
}

.screen--prizes.active ~ .screen-background {
  top: 0;
}

