.social-block__toggler {
  transition: color .3s ease;
  &::before {
    transform: scale(0) translate(-50%, -50%);
  }
}
.social-block__list {
  transition: opacity .2s ease;
}
.social-block--active {
  .social-block__link {
    opacity: 1;
    transform: translateY(0);
    &--fb {
      transition: transform .3s ease .1s, opacity .3s ease .1s, color .3s ease;
    }
    &--insta {
      transition: transform .3s ease .3s, opacity .3s ease .3s, color .3s ease;
    }
    &--vk {
      transition: transform .3s ease .5s, opacity .3s ease .5s, color .3s ease;
    }
    
  }
}

.social-block__link {
  opacity: 0;
  transform: translateY(2rem);
  transition: transform .3s ease, opacity .3s ease, color .3s ease;
}

body.load {
  .social-block__toggler {
    &::before {
      transform: scale(1) translate(-50%, -50%);
      transform-origin: top left;
      transition: transform .4s cubic-bezier(.5, 1.25, .5, 1.25) 1s, width .3s ease, height .3s ease;
    }
  }
}